streamlit
pandas
numpy
scikit-learn
joblib
requests
matplotlib
seaborn
sklearn-genetic-opt
shap
# RAG dependencies
langchain
langchain-community
langchain-huggingface
sentence-transformers
chromadb
pypdf
huggingface-hub

# Optional:
# xgboost
# lightgbm
